
# Caches and API Responses
# IDE folders
# Local Data and Logs
# Mypy
# Video Files
*.avi
*.jsonl
*.log
*.mkv
*.mov
*.mp4
*.pyc
*.xlsx
.DS_Store
.cache/
.coverage
.dmypy.json
.env
.idea/
.mypy_cache/
.pytest_cache/
.vscode/
__pycache__/
coverage.json
coverage.xml
dmypy.json
mypy_install.log
mypy_output*.txt
progress.txt
pytest_output*.txt
refactor_progress.txt

venv/
